# directories
cache
coverage
node_modules
out
docs
storageLayout

# files
*.env
*.log
.DS_Store
.pnp.*
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock

# broadcasts
!broadcast
broadcast/*
broadcast/*/31337/

node_modules
.env

# Hardhat files
/cache
/artifacts
/docs

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

node_modules
.env

# Foundry cache
cache_forge/solidity-files-cache.json