*.env
*.secret
hardhat.config.ts
scripts
test/hardhat
artifacts
cache
out
coverage
.env
.secret
.sol*
.eslint*
walletUtils.*
coverage.json
arguments.js
audits
cache_forge
deployments
typings/
typechain
typechain-types
.husky/pre-commit
.prettierignore
.prettierrc
.github/
deployments/localhost